@model IEnumerable<Braford_Identity.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using Braford_Identity.Areas.Identity.Data


@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th class="col-4">
                @Html.DisplayNameFor(model => model.issue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area_of_issue)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.resolution)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td class="col-4">
                    @Html.DisplayFor(modelItem => item.issue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.area_of_issue)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.resolution)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>

                <td class="text-center">
                @** check if user matches a ticket in queue to be able to modify or delete *@
                    @if (@UserManager.GetUserName(User) == @item.user)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <a>|</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> <a>|</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
